<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Inquiries">
	<select id="selectInquiry" parameterType="Map" resultType="Map">
		SELECT Inquiry_ID, WRITING_DATE, CONTENT, RESPONSE, RESPONSE_DATE, ADMINE_ID, UNIQUE_ID
		FROM project_nutrients.inquiry
		WHERE 1 = 1
		<choose>
			<!-- Add your specific conditions here -->
			<when test="search == 'Inquiry_ID'">
				AND INQUIRY_ID like CONCAT(#{words}, '%')
			</when>
			<!-- Other conditions based on the Inquiry table structure -->
		</choose>
	</select>
	<!-- SELECT -->
	<select id="selectInquiryList" parameterType="Map" resultType="Map">
		SELECT INQUIRY_ID, WRITING_DATE, CONTENT, RESPONSE, RESPONSE_DATE, ADMINE_ID, UNIQUE_ID
		FROM project_nutrients.inquiry
	</select>

	<select id="selectInquiryDetail" parameterType="Map" resultType="Map">
		SELECT INQUIRY_ID, WRITING_DATE, CONTENT, RESPONSE, RESPONSE_DATE, ADMINE_ID, UNIQUE_ID
		FROM project_nutrients.inquiry
		WHERE INQUIRY_ID = #{inquiryId}
	</select>

	<!-- INSERT -->
	<insert id="insertInquiry" parameterType="Map">
		INSERT INTO INQUIRIES
		(INQUIRY_ID, WRITING_DATE, CONTENT, RESPONSE, RESPONSE_DATE, ADMINE_ID, UNIQUE_ID)
		VALUES
		(#{INQUIRY_ID}, #{WRITING_DATE}, #{CONTENT}, #{RESPONSE}, #{RESPONSE_DATE}, #{ADMINE_ID}, #{UNIQUE_ID})
	</insert>
    
	<!-- UPDATE -->
	<update id="updateInquiry" parameterType="Map">
		UPDATE INQUIRIES
		SET
		WRITING_DATE = #{WRITING_DATE},
		CONTENT = #{CONTENT},
		RESPONSE = #{RESPONSE},
		RESPONSE_DATE = #{RESPONSE_DATE},
		ADMINE_ID = #{ADMINE_ID}
		WHERE Inquiry_ID = #{INQUIRY_ID}
	</update>
	<!-- DELETE -->
	<delete id="deleteInquiry" parameterType="Map">
		DELETE FROM INQUIRIES
		WHERE INQUIRY_ID = #{INQUIRY_ID}
	</delete>
</mapper>
