                /* 나브 메뉴 글자 색상 */
                .nav-link {
                    color: rgb(4, 138, 15) !important; 
                    font-size: 1.33em;
                    font-weight: bold;
                }

                #dropdownMenuButton {
                    background-color: rgb(255, 255, 255);
                    color: rgb(4, 138, 15);
                    font-weight: bold;
                    
                }

                /* 줌인줌아웃 +- 색상 및 테두리 */
                .btn-outline-secondary {
                    color: rgb(255, 0, 0);
                    font-weight: bold;
                    
                }

                /* 추가된 스타일
            body {
              border-top: 4px solid rgb(128, 0, 53);
              border-bottom: 4px solid rgb(128, 0, 107);
            }
           */

                /* 이거슨 navbar아래 line 긋기 */
                /* .navbar::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: rgb(7, 36, 75);
                } */
                .container.col select,
                .container.col input.form-control,
                .container.col button {
                 border-radius: 10px; /* 원하는 둥근 정도를 설정합니다. */
                }

        .h3,
        .btn-outline {
            color: rgb(0, 60, 128) !important;}

        .btn-outline {
            border-color: rgb(0, 60, 128) !important;
            outline: 1.5px solid rgb(0, 60, 128) ;
            border-radius: 25px;
        }

        .btn-outline:active {
            color: white !important;
            background-color: rgb(0, 60, 128) !important;
            border-color: rgb(0, 60, 128) !important;
        }

                

.footer-teal {
    background-color: rgb(13, 0, 128); /* 또는 원하는 Teal 색상 코드로 변경 */
    color: white; /* 텍스트 색상도 흰색으로 설정되어 있는지 확인 */
}

.footer-teal a {
    color: white; /* 하이퍼링크의 색상도 흰색으로 설정되어 있는지 확인 */
}
