
.specText
{
    font-weight: bolder;
    line-height: 200%;
}

.specCode
{
    padding-right: 100px;
}

/* List columns table */
.table-light {
    background-color: #edf1f0; 
}

/* List product click btn */
.btn.btn-outline {
    border-color: rgb(38, 128, 231); /* 아웃라인 색상 설정 */
    color: black; /* 텍스트 색상을 검정으로 변경 */
    font-size: 120%;
    font-weight: bold;
}